body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    font-family: "Zilla Slab", serif;
    font-weight: 300;
    font-style: normal;
}
ul{
    display: none;
}
li{
    font-weight: bold;
}
#parent {
    background: linear-gradient(to right, #4facfe, #00f2fe);
    background-color: #ffffff;
    /* display: grid; */
    justify-content: center;
    justify-items: center;
    height: 200px;
}

#labelId {
    font-size: 25px;
    font-weight: bold;
    /* position: fixed;
    left: 30%;
    top: 40px; */
    color: black;
    margin-top: 20px;
}

.comboBox {
    width: 200px;
    height: 35px;
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    /* position: fixed;
    left: 45%;
    top: 40px; */
    border-radius: 7px;
    background-color: #ffffff;
    transition: all 0.3s ease;

}

.button1 {
    width: 200px;
    height: 35px;
    margin-top: 20px;
    /* position: fixed;
    left: 60%;
    top: 40px; */
    border-radius: 7px;
    background-color: #ffffff;
    transition: all 0.3s ease;
}

.comboBox:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
}

.button1:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
    background-color: #00f2fe;
}

.showCalender {
    position: relative; 
    /* top: 50px;
    left: 10%;  */
    background-color: #ffffff;
    /* width: 500px;
    height: 400px; */
    display: none;
    margin:auto;
    border-radius: 10px;
    justify-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    background:transparent;
    border:2px solid black;
}

.showDetails {
    position: relative; 
    /* top: 50px;
    left: 20%; */ 
    background-color: #ffffff;
    /* width: 500px;
    height: 400px; */
    display: none;
    border-radius: 10px;
    margin:auto;
    /* visibility: hidden; */
    justify-items: center;
    justify-content: center;
    transition: all .5s ease;
    background:transparent;
    border:2px solid black;
}

.showCalender:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to top ,#00f2fe,#4facfe);
    color:#ffffff;
}

.showDetails:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to bottom ,#4facfe,#00f2fe);
    color: #ffffff;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    width: 300px;
    height: 300px;
}

td {
    display: table-cell;
    border: #000000 solid;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

th {
    text-align: center;
    border: #000000 solid;
    font-size: 25px;
}

.January1 {
    display: inline;
}

.Febuary2 {
    display: none;
}

.March3 {
    display: none;
}

.April4 {
    display: none;
}

.May5 {
    display: none;
}

.June6 {
    display: none;
}

.July7 {
    display: none;
}

.August8 {
    display: none;
}

.September9 {
    display: none;
}

.October10 {
    display: none;
}

.November11 {
    display: none;
}

.December12 {
    display: none;
}